// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,800');
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

// PALETA DE COLORES A UTILIZAR..

/* ------ */

$rojo1: rgb(144, 43, 43);
$negrobg: rgb(45, 45, 45);

$bg-grad: linear-gradient(60deg, #2196f3 15%, #009688);

$celes: #2196f3;
$verde: #009688;

/* ------ FUENTES */

$blancof1: rgb(255, 255, 255);
$blancof2: rgb(245, 244, 243);
$blancof3: rgb(236, 234, 237);
$blancof4: rgb(220, 220, 220);

/* ------ */
// FIN DE PALETA DE COLORES DE MATERIAL..

@mixin row-bt() {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

@mixin row-ct() {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

@mixin row-st() {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
}

@mixin col-ct() {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

@mixin col-end() {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: flex-end;
}

@mixin col-st() {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: flex-start;
}

@mixin row-ar() {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
}

::selection {
  background-color: $verde;
  color: whitesmoke;
}

/* ----------------------------- */

// RESET DE TAMAÑOS DE FUENTES

h1 {
  font-size: 3.2em;
  color: rgba(80, 80, 80, 1);
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 2.7em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.45em;
}
h6 {
  font-size: 0.8em;
}

p {
  font-size: 1em;
}

/* -----------------------------------------*/
body {
  font-family: "Encode Sans", sans-serif;
  background: rgb(230, 230, 230);
  text-rendering: auto;
}

// SECCION INICIO
.home,
.mesa-de-entrada,
.sala-capacitaciones {
  @include row-ct();
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .black_sect {
    background: rgb(40 40 40);
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    align-items: center;
    img {
      width: 14em;
    }
    .fecha {
      text-align: center;
      padding: 0 0.5em;
      h5 {
        color: #d1d3d0;
        font-weight: 300;
        margin: 2.8em 0 0.5em;
        font-size: 2em;
      }
      h3 {
        color: #d1d3d0;
        font-weight: 700;
        font-size: 2em;
      }
      h4 {
        color: #d1d3d0;
        font-size: 2em;
        font-weight: 100;
      }
    }
  }
}

.red_sect {
  background: url(../img/bgs/fondo.jpg);
  background-size: cover;
  width: 75%;
  height: 100%;
  @include col-st();
  padding: 0 9%;
  h5 {
    color: #505050;
    margin-bottom: 0.1em;
    font-size: 1.73em;
  }
  h1 {
    font-weight: 800;
    color: rgba(80, 80, 80, 1);
    line-height: 1.04em;
    font-size: 3.2em;
  }
  h6 {
    font-size: 1.3em;
    font-weight: 300;
    color: white;
    margin-top: 0.5em;
    background: rgb(67 188 235);
    padding: 0.15em 0.4em;
  }
  h4 {
    color: #505050;
    font-size: 1.3em;
    margin-top: 0.5em;
    span {
      font-weight: 600;
    }
  }
}

.mesa-de-entrada {
  background: url(../img/bgs/mese_de_entrada.png);
}

.sala-capacitaciones {
  background: url(../img/bgs/salas.jpg);
}

.btn {
  padding: 0.75em 3em;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background: linear-gradient(60deg, #41b5e4 15%, #257291);
  color: white;
  &:hover {
    background: linear-gradient(60deg, #10a9e8 15%, #0963a7);
  }
}

.btn-secondary {
  background: linear-gradient(60deg, #41b5e4 15%, #257291);
  color: white;
  width: 15em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.84em;
}

.mt-3 {
  margin-top: 1em;
}

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
}

.volver {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 0.5em;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 75%;
  left: 0;
  background: rgb(67 188 235 / 70%);
  padding: 1em 0.5em;
  li {
    margin: 0 1em;
    img {
      width: 150px;
    }
    .ide-logo {
      width: 300px;
    }
    .secretaria-logo {
      width: 100px;
    }
  }
}

.menu__btn {
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 2em;
  color: white;
  padding: 0.75em;
  background: #43bceb;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-out 0.3s;
  span {
    margin-left: 0.5em;
  }
  &:hover {
    background: #37addb;
  }
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  span{
    font-size: 2.5em;
    color: #505050;
  }
}

.menu__container {
  position: fixed;
  background: #d7d7d7;
  width: 100%;
  height: 100vh;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:100%;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    li {
      margin: 1em 0;
    }
  }
}

// CODIGO QUE EJECUTA EL RESPONSIVE

@media screen and (max-width: 975px) { //PARA TABLET
  .home {
    .black_sect {
      display: none;
    }
  }
  .red_sect {
    width: 100%;
  }
  .logos {
    width: 100%;
  }
}

@media screen and (max-width: 515px) { //PARA CELULAR
  .red_sect{
	height: initial;
    padding: 5em 8% 3em;
	h1, h6{
		margin-bottom: 0.5em;
	}
  }
  .logos{
	position: relative;
    flex-direction: column;
    justify-content: center;

	li{
		width: 90%;
		display: flex;
		justify-content: center;
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}
  }
}
